/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  scroll-behavior: smooth;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.questionFrom .imageOption .ant-row.ant-form-item-row {
  align-items: center !important;
}
